<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078953631539-hktrn33qf4aiess3jdlrsd8cqrvebgat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078953631539-hktrn33qf4aiess3jdlrsd8cqrvebgat</string>
	<key>API_KEY</key>
	<string>AIzaSyAiJLXEas0nYrUGKUnvpgPiL6cCPaLIwrI</string>
	<key>GCM_SENDER_ID</key>
	<string>1078953631539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.OPCore-Example</string>
	<key>PROJECT_ID</key>
	<string>firewall-7aaf0</string>
	<key>STORAGE_BUCKET</key>
	<string>firewall-7aaf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078953631539:ios:f9eb61e9c682c58f902846</string>
	<key>DATABASE_URL</key>
	<string>https://firewall-7aaf0.firebaseio.com</string>
</dict>
</plist>